.elementor-51 .elementor-element.elementor-element-396d43c > .elementor-container {max-width: 500px;}
.elementor-51 .elementor-element.elementor-element-e3c9254.elementor-widget-heading .elementor-heading-title {color: #191919;}
.elementor-51 .elementor-element.elementor-element-e3c9254 .elementor-heading-title {font-family: "Verdana",Sans-serif;}
body:not(.rtl) .elementor-51 .elementor-element.elementor-element-e3c9254 {left: 0px;}
body.rtl .elementor-51 .elementor-element.elementor-element-e3c9254 {right: 0px;}
.elementor-51 .elementor-element.elementor-element-e3c9254 {top: 0px;}
.elementor-51 .elementor-element.elementor-element-69cf556.elementor-widget-heading .elementor-heading-title {color: #0c0c0c;}
.elementor-51 .elementor-element.elementor-element-69cf556 .elementor-heading-title {font-family: "Times New Roman",Sans-serif;mix-blend-mode: multiply;}
.elementor-51 .elementor-element.elementor-element-e9f0d00 .elementor-button .elementor-align-icon-right {margin-left: 50px;}
.elementor-51 .elementor-element.elementor-element-e9f0d00 .elementor-button .elementor-align-icon-left {margin-right: 50px;}
.elementor-51 .elementor-element.elementor-element-e9f0d00 a.elementor-button, .elementor-51 .elementor-element.elementor-element-e9f0d00 .elementor-button {background-color: #fcae1e;}
.elementor-51 .elementor-element.elementor-element-e9f0d00 .elementor-button {box-shadow: 0px 0px 10px -5px rgba(0,0,0,.5) inset;}
.elementor-51 .elementor-element.elementor-element-67d9ece.elementor-widget-heading .elementor-heading-title {color: #111;}
body:not(.rtl) .elementor-51 .elementor-element.elementor-element-67d9ece {left: 0px;}
body.rtl .elementor-51 .elementor-element.elementor-element-67d9ece {right: 0px;}
.elementor-51 .elementor-element.elementor-element-67d9ece {top: 0px;}
@media (max-width:767px) {.elementor-51 .elementor-element.elementor-element-d5f7a04 {text-align: left;}
	.elementor-51 .elementor-element.elementor-element-e3c9254 {text-align: center;width: 215px;max-width: 215px;top: -13px;}
	.elementor-51 .elementor-element.elementor-element-e3c9254 .elementor-heading-title {font-size: 22px;line-height: 1em;letter-spacing: -.1px;}
	.elementor-51 .elementor-element.elementor-element-e3c9254 > .elementor-widget-container {border-radius: 11px 11px 11px 11px;}
	body:not(.rtl) .elementor-51 .elementor-element.elementor-element-e3c9254 {left: 57px;}
	body.rtl .elementor-51 .elementor-element.elementor-element-e3c9254 {right: 57px;}
	.elementor-51 .elementor-element.elementor-element-69cf556 {text-align: center;}
	.elementor-51 .elementor-element.elementor-element-69cf556 .elementor-heading-title {font-size: 13px;line-height: 1.3em;letter-spacing: .3px;}
	.elementor-51 .elementor-element.elementor-element-67d9ece {text-align: center;top: 11px;}
	body:not(.rtl) .elementor-51 .elementor-element.elementor-element-67d9ece {left: -11px;}
	body.rtl .elementor-51 .elementor-element.elementor-element-67d9ece {right: -11px;}}